/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

app-article-list,
app-article-preview,
app-skeleton {
  box-sizing: border-box;
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}
