.skeleton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.skeleton-header {
  width: 80%;
  height: 20px;
  background-color: #e0e0e07e;
  margin-bottom: 10px;
  border-radius: 4px;
}
.skeleton-body {
  width: 100%;
  height: 100px;
  background-color: #e0e0e07e;
  border-radius: 4px;
}
